# Module 3: Data Structures Assignments
## Lesson 3.3: Sets
### Assignment 1: Creating and Accessing Sets

Create a set with the first 10 positive integers. Print the set.

In [2]:
my_set=set(range(1,11))
print(my_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

### Assignment 2: Adding and Removing Elements

Add the number 11 to the set created in Assignment 1. Then remove the number 1 from the set. Print the modified set.

In [3]:
my_set.add(11)
print(my_set)
my_set.remove(1)
print(my_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}
{2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

### Assignment 3: Set Operations

Create two sets: one with the first 5 positive integers and another with the first 5 even integers. Perform and print the results of union, intersection, difference, and symmetric difference operations on these sets.

In [6]:
set1=set(range(1,6))
set2=set(i for i in range(1,11) if i%2==0)
print(f"set1 : {set1}")
print(f"set2 : {set2}")

print(f"Union of set1 and set2: {set1.union(set2)}")
print(f"Intersection of set1 and set2: {set1.intersection(set2)}")
print(f"Difference of set1 and set2: {set1.difference(set2)}")
print(f"Symmetric difference of set1 and set2: {set1.symmetric_difference(set2)}")

set1 : {1, 2, 3, 4, 5}
set2 : {2, 4, 6, 8, 10}
Union of set1 and set2: {1, 2, 3, 4, 5, 6, 8, 10}
Intersection of set1 and set2: {2, 4}
Difference of set1 and set2: {1, 3, 5}
Symmetric difference of set1 and set2: {1, 3, 5, 6, 8, 10}

### Assignment 4: Set Comprehensions

Create a new set containing the squares of the first 10 positive integers using a set comprehension. Print the new set.

In [7]:
new_set=set(i**2 for i in range(1,11))
print(new_set)

{64, 1, 4, 36, 100, 9, 16, 49, 81, 25}

### Assignment 5: Filtering Sets

Create a new set containing only the even numbers from the set created in Assignment 1 using a set comprehension. Print the new set.

In [10]:
even = set(i for i in my_set if i%2==0)
print(even)

{2, 4, 6, 8, 10}

### Assignment 6: Set Methods

Create a set with duplicate elements and remove the duplicates using set methods. Print the modified set.

In [11]:
st1={1,2,2,3,4,5,4}
unique_st=set(st1)
print(unique_st)

{1, 2, 3, 4, 5}

### Assignment 7: Subsets and Supersets

Create two sets: one with the first 5 positive integers and another with the first 3 positive integers. Check if the second set is a subset of the first set and if the first set is a superset of the second set. Print the results.

In [14]:
st1=set(range(1,6))
st2=set(range(1,4))
print(f"Is second set is a subset of the first set : {st2.issubset(st1)}")
print(f"Is first set is a superset of the second set : {st1.issuperset(st2)}")

Is second set is a subset of the first set : True
Is first set is a superset of the second set : True

### Assignment 8: Frozenset

Create a frozenset with the first 5 positive integers. Print the frozenset.

In [31]:
# The frozenset() function returns an unchangeable frozenset object (which is like a set object, only unchangeable)
x=frozenset(range(1,6))
print(x)

frozenset({1, 2, 3, 4, 5})

### Assignment 9: Set and List Conversion

Create a set with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a set. Print the resulting set.

In [20]:
s=set(range(1,6))
lst=list(s)
lst.append(6)
s=set(lst)
print(s)

{1, 2, 3, 4, 5, 6}

### Assignment 10: Set and Dictionary

Create a dictionary with set keys and integer values. Print the dictionary.

In [22]:
d={
    frozenset({1,2}):3,
    frozenset({4,5}):6
}
print(d)

{frozenset({1, 2}): 3, frozenset({4, 5}): 6}

### Assignment 11: Iterating Over Sets

Create a set and iterate over the elements, printing each element.

In [23]:
s=set(range(1,6))
for i in s:
    print(i)

1
2
3
4
5

### Assignment 12: Removing Elements from Sets

Create a set and remove elements from it until it is empty. Print the set after each removal.

In [24]:
s=set(range(1,6))
while s:
    s.pop()
    print(s)

{2, 3, 4, 5}
{3, 4, 5}
{4, 5}
{5}
set()

### Assignment 13: Set Symmetric Difference Update

Create two sets and update the first set with the symmetric difference of the two sets. Print the modified first set.

In [26]:
s1=set(range(1,6))
s2=set(range(3,8))
print(f"s1 : {s1}")
print(f"s2 : {s2}")
s1.symmetric_difference_update(s2)
print(f"After symmetric update s1 : {s1}")

s1 : {1, 2, 3, 4, 5}
s2 : {3, 4, 5, 6, 7}
After symmetric update s1 : {1, 2, 6, 7}

### Assignment 14: Set Membership Testing

Create a set and test if certain elements are present in the set. Print the results.

In [28]:
s = {1,3,4,5,6,8}
print(2 in s)
print(8 in s)

False
True

### Assignment 15: Set of Tuples

Create a set containing tuples, where each tuple contains two elements. Print the set.

In [29]:
s = {
    (1,2),
    (3,4)
}

print(s)

{(1, 2), (3, 4)}