# Module 3: Data Structures Assignments
## Lesson 3.2: Tuples
### Assignment 1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.

In [1]:
t1=tuple(range(1,11))
print(t1)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

### Assignment 2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

In [14]:
print(f"First Element :{t1[0]}")
print(f"Middle Element :{t1[len(t1)//2]}")
print(f"Last Element :{t1[-1]}")

First Element :1
Middle Element :6
Last Element :10

### Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

In [13]:
print(f"First three elements: {t1[:3]}")
print(f"Last three elements: {t1[-3:]}")
print(f"Elements from index 2 to 5: {t1[2:6]}")


print()
print()

First three elements: (1, 2, 3)
Last three elements: (8, 9, 10)
Elements from index 2 to 5: (3, 4, 5, 6)

### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

In [12]:
matrix=(
        (1,2,3),
        (4,5,6),
        (7,8,9)
)
print("matrix")
for row in matrix:
    print(row)
print(f"Element at the second row and third column: {matrix[1][2]}")

matrix
(1, 2, 3)
(4, 5, 6)
(7, 8, 9)
Element at the second row and third column: 6

### Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

In [15]:
t1=(1, 2, 3)
t2=(4,5,6)
print(f"Cpncatenation of two tuples : {t1+t2}")

Cpncatenation of two tuples : (1, 2, 3, 4, 5, 6)

### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

In [17]:
t1=(2,4,1,3,4,5,6,1,2,4,4)
print(f"occurrences of an element:{t1.count(4)}")
print(f"index of the first occurrence of an element 4 in the tuple :{t1.index(4)}")

occurrences of an element:4
index of the first occurrence of an element 4 in the tuple :1

### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

In [21]:
packed_tuple=1,"Dharani",2,"aasrith",3
print(f"packed Tuple: {packed_tuple}")
#Unpacking
a,b,c,d,e=packed_tuple
print(f"a: {a}")
print(f"b: {b}")
print(f"c: {c}")
print(f"d: {d}")
print(f"e: {e}")

packed Tuple: (1, 'Dharani', 2, 'aasrith', 3)
a: 1
b: Dharani
c: 2
d: aasrith
e: 3

### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

In [22]:
a=[1,2,3,4,5]
print(f"list a :{a}")
print(f"Tuple a :{tuple(a)}")

list a :[1, 2, 3, 4, 5]
Tuple a :(1, 2, 3, 4, 5)

### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

In [23]:
a=((1,2,3),("a","b","c"),(6,"g",10))
print(f"Tuple of tuples : {a}")

Tuple of tuples : ((1, 2, 3), ('a', 'b', 'c'), (6, 'g', 10))

### Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

In [27]:
a=(1,2,3,4,5)
print(f"tuple a: {a}")
list_a=list(a)
print(f"list a: {list_a}")
list_a.append(6)
print(list_a)
a=tuple(list_a)
print(f"Tuple a : {a}")

tuple a: (1, 2, 3, 4, 5)
list a: [1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]
Tuple a : (1, 2, 3, 4, 5, 6)

### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

In [28]:
tp1=("d","h","a","r","a","n","i")
str1="".join(tp1)
print(str1)

dharani

### Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

In [29]:
tpl_dict={
    (1,2):3,
    (4,5):6

}
print(tpl_dict)

{(1, 2): 3, (4, 5): 6}

### Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

In [30]:
nested_tuple = ((1, 2, 3), ("a", "b", "c"), (True, False))
for sub_tuple in nested_tuple:
    for item in sub_tuple:
        print(item)

1
2
3
a
b
c
True
False

### Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

In [31]:
t1=(2,4,1,3,4,5,6,1,2,4,4)
st1=set(t1)
print(st1)

{1, 2, 3, 4, 5, 6}

### Assignment 15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

In [33]:
def min_func(tpl):
    return min(tpl)

def max_func(tpl):
    return max(tpl)

def sum_func(tpl):
    return sum(tpl)

sample_tpl = (1, 2, 3, 4, 5)
print(f"Minimum element in tuple is :{min_func(sample_tpl)}")
print(f"Maximum element in tuple is :{max_func(sample_tpl)}")
print(f"Sum of elements in tuple is :{sum_func(sample_tpl)}")

Minimum element in tuple is :1
Maximum element in tuple is :5
Sum of elements in tuple is :15